<ion-header>
  <ion-toolbar>
    <ion-title>MoneyWise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div class="login-container">

  <ion-card>

    <ion-card-header class="ion-text-center">
      <ion-card-title>Iniciar Sesión</ion-card-title>
      <ion-card-subtitle>Controla tus gastos fácilmente</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          label="Contraseña"
          labelPlacement="floating"
          [(ngModel)]="password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="login()">
        Iniciar sesión
      </ion-button>

      <ion-text color="danger" *ngIf="error" class="ion-text-center">
        <p>{{ error }}</p>
      </ion-text>

      <div class="register-link">
        <ion-text>
          ¿No tienes cuenta?
        </ion-text>

        <ion-button fill="clear" routerLink="/auth/register">
          Regístrate
        </ion-button>
      </div>

    </ion-card-content>

  </ion-card>

</div>

</ion-content>